/* .container_title_approved {
    width: 300px;
    height: 80px;
    background-color: rgb(39, 120, 50);
    color: white;
    font-size: 22px;
    font-family: sans-serif;

    margin-top: 50px;
    border-radius: 8px;

    span {
        text-align: center;
    }
}



.container_approved {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid rgb(39, 120, 50);
} */