/* .container_title_done {
    width: 300px;
    height: 80px;
    background-color: rgb(120, 0, 225);
    color: white;
    font-size: 22px;
    font-family: sans-serif;

    margin-top: 50px;
    border-radius: 8px;
}

span {
    align-items: center;
    justify-content: center;
}

.container_done {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid rgb(120, 0, 225);
} */